*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #6596bb;
    font-family: sans-serif;
    outline: none;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #fafbfc;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #131212,
                      5px 5px 12px rgba(14, 13, 13, 0.16);
    display: grid;  
    grid-template-columns: repeat(4,70px);                
}
input{
    grid-column: span 4;
    height: 80px;
    width: 280px;
    background-color: #f5f7f8;
    box-shadow: inset -5px -5px 12px #111111,
                inset 5px 5px 12px rgba(0, 0, 0, .16);
    border: none;
    border-radius: 20px;
    color: rgb(28, 156, 165);
    font-size:45px;
    text-align: end;
    margin: top 50px;
    margin-bottom: 50px;
    padding: 20px; 
}
button{
    cursor: pointer;
    display: inline-block;
    height: 48px;
    width: 48px;
    background-color: #f8f9fa;
    box-shadow:  -5px -5px 12px #141414,
                 5px 5px 12px rgba(0, 0, 0, .16);
    border :  thick double #0c0c0c;
    border-radius: 40%;
    margin: 8px;
    font-size: 18px;
}
.equal{
    cursor: pointer;
	display: inline-block;
    width: 120px;
    border-radius: 50px;
    background-color: #fdfeff;
    box-shadow:  -5px -5px 12px #0e0d0d,
                 5px 5px 12px rgba(0, 0, 0, .16);
}

.heading{
    text-align: center;
}